@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1592465945916'); /* IE9 */
  src: url('iconfont.eot?t=1592465945916#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKUAAsAAAAABmgAAAJHAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp0ewE2AiQDCAsGAAQgBYRtBzAboQUR1Ytnsh8JdozL9lsyCs9JZ4Knb7/XO7vzfjZE4IiwpNAyC0OKheqJMK0jUMCysnmbm6FrVIRiSc6D/+U70rEJ+RUABlxTvwY0kDyguXVSVHIk4GjAA+ymNdnGuGHsghd4GgKEkEEZ0tE1MIFDsScJIAf2bq/iCj4UZUmHEGhYqch1PJy5YJ4D16Lfy29qxIHBs9hlI1udG7R8G3DS7HH/OAsBgR8EtN4DLFAGKMhEY2wIizC2JWSzkgMoisC3Ad/HVuSoJoT9dXZhGABpUPxMEk/6qIUGAE0SGUAlZunzTFjM6pvv06+/Tb38MvHq6/z2w0vPjhdt3M67XzL14MTOpXz/2DvNytJ3jjEry5dnV56/n5ISVZFTIS0tuyM32+7ckfLs8shdrECg/v/R3eXIhn8udKOeD9H1ydEY/7hijwNuj3aBPyMZ2KKGzLYY1SSNDkPGpIkGCCEE8MGuGD5P1cffRkpwxN+MI4j0DBZHHqmsMniEUocAjmaEUEr3+lBiOYhFNBgo4QyAEMVTGCLYgSWKF6SyPsEjgb8IECUWIUxJ7I6hFIgURDuhZDSg/hB0q9a1sYiLb+jeWVJeFnFeSFcIwjLO5eSBFWmJOdfHrcwWLLUCOzgPc27QqUXUPHrmvk2TbfrQqFsZBO2EktGA+kPQrdqgO4vK92/o3llSR0Vd+IV0hf5hGecB5KGugyoe5Zbr41ZmC5ZagR0Mw5wb9OZhETWPfkKkb5PTyQ5Vj9tryw8UsRpsgxFnkCWw7lGnZRgAAAAA') format('woff2'),
  url('iconfont.woff?t=1592465945916') format('woff'),
  url('iconfont.ttf?t=1592465945916') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1592465945916#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check1:before {
  content: "\e64c";
}

